/*reset*/
* {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: left;
}
h3 {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
abbr,
acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}
em {
  font-style: normal;
}
ol li {
  list-style: none;
}
ul li {
  list-style: none;
}
li {
  list-style: none;
}
th,
td {
  padding: 0;
}
th {
  font-weight: bold;
  text-align: center;
}
fieldset {
  border: 0;
}
.accessibility,
legend {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
}
caption,
.invisible {
  visibility: hidden !important;
  overflow: hidden !important;
  position: static;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  text-indent: -9999px !important;
}

input[type="text"],
input[type="password"],
textarea {
  width: 12.25em;
  *width: 11.9em;
}
label,
.btn {
  cursor: pointer;
}

a:link {
  color: #4d4d4d;
  text-decoration: none;
}
a:visited {
  color: #4d4d4d;
  text-decoration: none;
}
a:hover {
  color: #4d4d4d;
  text-decoration: underline;
}
a:active {
  color: #4d4d4d;
  text-decoration: none;
}
a:focus {
  text-decoration: underline;
}
table a {
  font-size: 12px;
}
form,
img,
a,
iframe {
  border-style: none;
}
img {
  vertical-align: top;
}
.datatable th {
  padding-left: 15px;
  font-weight: normal;
  color: #898989;
  text-align-last: left;
}

body {
  font-family: sans-serif;
}
.container {
  position: relative;
  width: 980px;
  margin: 0 auto;
}