{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@common": "src/common",
          "@components": "src/components",
          "@requesters": "src/requesters",
          "@services": "src/services"
        }
      }
    ]
  ]
}
